   
    <link rel="stylesheet" href="/css/admin.css">

<body class="body">
    <ul>
        <h1>Backend </h1>
        <li><a class="btn btn-primary btnbackend" href="/api/user/allU">Todos los usuarios</a></li>
        <li><a class="btn btn-primary btnbackend" href="/api/user/profile">Profile admin Info</a></li>
        <li><a class="btn btn-primary btnbackend" href="/api/ticket/show">Tickets admin</a></li>

    </ul>

</body>