<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <div class="login">
        <form id="login-form" class="form-inline" action="/api/auth/login" method="POST">
            <input type="email" name="email" id="email" class="form-control mr-2" placeholder="Email" required>
            <input type="password" name="password" id="password" class="form-control mr-2" placeholder="Contraseña"
                required>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>

    <div class="loginbox">
        <a href="/api/auth/github" id="loginGitHub" class="btn btn-primary loginGitHub">Login with GitHub</a>
    </div>

    <div id="error-message" class="mt-3 text-danger"></div>

    <div id="userInfo" class="mt-3 text-danger"></div>


</div>



{{!--
<script src="/js/products.js"></script>
<script src="/js/user.js"></script> --}}