{{!-- views/products.handlebars --}}
<div class="container">
  <div class="header-container">
    <form id="login-form" class="form-inline" action="/api/auth/login" method="POST">
      <input type="email" name="email" id="email" class="form-control mr-2" placeholder="Email" required>
      <input type="password" name="password" id="password" class="form-control mr-2" placeholder="Contraseña" required>
      <button type="submit" class="btn btn-primary">Login local</button>
    </form>

    <div>
      <a href="/api/auth/github" id="loginGitHub" class="btn btn-primary loginGitHub">Login with GitHub</a>
    </div>


  </div>

  <div id="error-message" class="mt-3 text-danger"></div>

  <a class=" btn btn-primary btntocart" href="/api/view/cart">Ir a cart! 🚀</a>

  <h1 class="TitlePage">Products</h1>
</div>

<div id="messageContainer" class="respComprar"></div>

<div class="filtrprods">
  <div class="form-group eachfilter">
    <label for="categorySelect">Filtrar por categoría:</label>
    <select id="categorySelect" class="form-control">
      <option value="">Todas las categorías</option>
      <option value="maquillaje">Maquillaje</option>
      <option value="hogar">Hogar</option>
      <option value="ropa">Ropa</option>
      <option value="tecnología">Tecnología</option>
    </select>
  </div>


<div class="eachfilter">
  <label for="minPriceInput">Min Price:</label>
  <input type="number" id="minPriceInput" placeholder="Min Price">
</div>
<div class="eachfilter">
  <label for="maxPriceInput">Max Price:</label>
  <input type="number" id="maxPriceInput" placeholder="Max Price">
</div>
<div class="eachfilter">
  <label for="sortSelect">Sort By:</label>
  <select id="sortSelect">
    <option value="none">No Sorting</option>
    <option value="priceAsc">Price: Low to High</option>
    <option value="priceDesc">Price: High to Low</option>
  </select>
</div class="eachfilter">
<button id="filterButton" class="btn btn-outline-info filterButton">Aplicar filtro</button>
</div>

<div id="misprods" class="row"></div>
</div>

<script src="/js/products.js"></script>