 <link rel="stylesheet" href="/css/editinfo.css">



<div class="profileall">

    <div id="profileinfo">  </div>
    <div id="profiledit"> </div>

</div>

<a class=" btn btn-primary btntocart" href="/api/view/cart">Ir a cart! 🚀</a>



<script src="/js/profile.js"></script>