<div class="container mt-5">
    <h1 class="mb-4">Ticket de Compra</h1>
</div>

<div class="container">
    <div class="container mt-5">



    </div>

    <div id="messageContainer" class="respComprar"></div>

    <div class="container-ticket">



        <h4>Ticket de Compra:</h4>



        <div id="ticketContainer" class="ticketContainer"></div>



        <div id="totalPrice" class="totalPrice"></div>





    </div>



</div>
</div>
<script src="/js/ticket.js"></script>