<h1> Hola! este es tu cart de compra! </h1>

<div class="container">
        <div class="container mt-5">

                <h4>Usuario Conectado:</h4>


                <div id="profile" class="usersession"></div>
        </div>

        <div class="container">

                <div id="messageContainer" class="respComprar"></div>

                <h4>Carrito de Compras:</h4>

                <div id="prodscart" class="column prodscart"></div>
        </div>

        <div id="totalPrice" class="totalPrice"></div>

       <div id="addressFormContainer" class="addressFormContainer"></div>

       <div id="addressInfo" class="addressInfo"></div>
       
{{!-- 
         <a href="/api/view/ticket" class="btn btn-primary fincompra">Confirmar Compra</a> --}}

         <button id="confirmPurchase" type="submit" class="btn btn-primary">Confirmar Compra</button>


         
        {{!-- <div id="confirmarCompra" class="confirmarCompra"></div> --}}

</div>
</div>
<script src="/js/cart.js"></script>
