<h1> Hola! este es tu cart de productos! </h1>


<div class="ontainer mt-5">
        <h1>Carrito de Compras</h1>
        <div id="cartItems" class="row"></div>
        <h2>Total: $ <span id="cartTotal"></span></h2>
</div>

  <script src="/js/cart.js"></script>