<h1> Hola! este es tu cart de comrpa! </h1>

<div class="container">
        <div class="container mt-5">

                <h2>Usuario Conectado</h2>


                <div id="profile"></div>
        </div>

        <div class="container">

                <div id="messageContainer" class="respComprar"></div>

                <h2>Carrito de Compras</h2>
                
                <div id="prodscart" class="row"></div>
        </div>

        <div id="totalPrice" class="totalPrice"></div>
</div>
</div>
<script src="/js/cart.js"></script>
<script src="/js/cart.js"></script>