<h1> Hola! este es tu cart de comrpa! </h1>

<div class="container">
        <div class="container mt-5">

                <h4>Usuario Conectado:</h4>


                <div id="profile"></div>
        </div>

        <div class="container">

                <div id="messageContainer" class="respComprar"></div>

                <h4>Carrito de Compras:</h4>

                <div id="prodscart" class="column prodscart"></div>
        </div>

        <div id="totalPrice" class="totalPrice"></div>

        <form >
                <p> ~ Escribe aqui tu dirección donde quieres recibir tu producto ~ </p>
                <input type="text" name="adress" id="adress" class="form-control mr-2" placeholder="Direccion" required>
      
        <button id="add-address" type="submit" class="btn btn-primary fincompra ">FAgregar Direccion</button>
         </form>
{{!-- 
         <a href="/api/view/ticket" class="btn btn-primary fincompra">Confirmar Compra</a> --}}

         <button id="confirmPurchase" type="submit" class="btn btn-primary">Confirmar Compra1</button>

         
        {{!-- <div id="confirmarCompra" class="confirmarCompra"></div> --}}

</div>
</div>
<script src="/js/cart.js"></script>
