<h1> Hola! este es tu cart de productos! </h1>


<div class="container mt-5">
        <h1>Carrito de Compras</h1>
        <div id="cartItems" class="row"></div>
        <div>Total: $<span id="cartTotal"></span></div>
        <script>
                // El ID del usuario se inserta en un elemento de datos
                const userId = '{{userId}}';
        </script>
        <script src="/js/cart.js"></script>