<h1> Hola! este es tu cart de comrpa! </h1>

<div class="container">
        <div class="container mt-5">

                <h3>Usuario Conectado:</h3>


                <div id="profile"></div>
        </div>

        <div class="container">

                <div id="messageContainer" class="respComprar"></div>

                <h3>Carrito de Compras:</h3>

                <div id="prodscart" class="column prodscart"></div>
        </div>

        <div id="totalPrice" class="totalPrice"></div>
</div>
</div>
<script src="/js/cart.js"></script>
<script src="/js/cart.js"></script>