<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&family=EB+Garamond&family=Indie+Flower&family=Lumanosimo&display=swap"
        rel="stylesheet">

    <meta name="description"
        content="Encuentra los mejores productos para tus viajes, consejos de compras, recomendaciones de películas y blogs especializados en autos. Todo lo que necesitas para disfrutar al máximo tus viajes en un solo lugar.">

    <link rel="stylesheet" href="/css/premium.css">

    <link rel="icon" type="image/ico" href="/rastreo.png">

</head>

<body >
<div class="containerall">
    <!-- header -->
    <header>
        <div class="logo">
            <h1>Home Luna.Store</h1>
            <img class="logo-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCC9olZRf5H_r0tf3HrDeG6ZvRDJV6uS92kg&usqp=CAU"
                height="300px" alt="logotipo" />
        </div>


        <nav>
            <ul>
                <li><a href="/api/view/products">Products</a></li>
                <li><a href="/api/user/profile">Profile</a></li>
                <li><a href="/api/view/register">Register</a></li>
                <li><a href="/api/view/cart">Cart</a></li>
                <li><a href="/api/view/ticket">Tickets</a></li>
                <li><a href="/api/chat/">chat</a></li>
                <li><a href="/api/view/mail/">Mail</a></li>
            </ul>
        </nav>

    </header>

    <!-- main -->

    <main>

        <div class="text-home">
            <h2> ¡Bienvenido a Premium Section aqui econtraras los mejores descuentos !</h2>
            <p>En esta sección premium podras encontrar los mejores descuentos para tus productos favoritos te ofrecemos una amplia selección de artículos para tu hogar tecnologia productos de moda y belleza.</p>
        </div>
<div id="prodspremium" class="row"> </div>


        <aside>
            <h2>Lo mas relevante de las noticias de actualidad</h2>
            <ol>
                <li class="blog">Viajes y Aventuras: Descubre destinos emocionantes, consejos de viaje, experiencias
                    únicas y recomendaciones de expertos para tus próximas escapadas.</li>
                <li class="blog">Estilo de Vida y Bienestar: Encuentra artículos sobre salud, bienestar, consejos para
                    llevar una vida equilibrada, tendencias de moda y belleza, y mucho más.</li>
                <li class="blog">Tecnología y Gadgets: Mantente actualizado sobre las últimas novedades tecnológicas,
                    reseñas de productos y guías útiles para sacar el máximo provecho de la tecnología en tu vida
                    diaria.</li>
                <li class="blog">Cultura y Arte: Explora el mundo de la cultura, el arte, la literatura, la música, el
                    cine y las expresiones creativas de diversas culturas.</li>
                <li class="blog">Ciencia y Medio Ambiente: Aprende sobre los avances científicos más recientes, la
                    investigación medioambiental y cómo podemos contribuir a un mundo más sostenible.</li>
                <li class="blog">Consejos y Trucos: Encuentra consejos prácticos para mejorar diversas habilidades,
                    desde cocinar deliciosas recetas hasta consejos de productividad y organización.</li>
            </ol>


        </aside>

    </main>
</div>
<footer>
    <a href="https://www.instagram.com/" class="red" target="_blank">
        <div class="redes">
            <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/768px-Instagram_icon.png" />
            <h4>Instagram</h4>
            <p>link Instagram</p>
        </div>
    </a>

    <a href="https://web.whatsapp.com/" class="red" target="_blank">
        <div class="redes">
            <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/598px-WhatsApp_icon.png" />
            <h4>Whatsapp</h4>
            <p>+57354552211</p>
        </div>
    </a>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script src="/js/premium.js"></script>
</body>

</html>