<div class="container">
  <h1>Registro</h1>
  <div class="container register">
    <form class="row g-3" action="/api/auth/register" method="POST">
      <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Escribe tu Username">
      </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">Apellido</label>
        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Apellido">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label">Direcci칩n</label>
        <input type="text" name="address" class="form-control" id="address"
          placeholder="Direcci칩n donde quieres recibir tus productos">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Contrase침a</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Contrase침a">
      </div>
      <div class="form-group">
        <label for="role">Role de registro</label>
        <select id="role" name="role" class="form-control" >
          <option value="user">user</option>
          <option value="admin">admin</option>
          <option value="premium">premium</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
