    <div class="container mt-5">
        <h1 class="mb-4">Ticket de Compra</h1>
        <div id="ticket"></div>
    </div>

    <div class="container">
        <div class="container mt-5">

             

{{!-- 
                <div id="profile"></div> --}}
        </div>

            <div id="messageContainer" class="respComprar"></div>

        <div class="container-ticket">

          

                <h4>Ticket de Compra:</h4>

                <div id="prodscart" class="prodscart"></div>
       

        <div id="totalPrice" class="totalPrice"></div>

            <div id="profile"></div>
            
            {{!-- <h6>Confirmaci칩n de Direcci칩n</h6>
    <p>Tu producto ser치 enviado a la siguiente direcci칩n:</p>
   <div id="address"></div> --}}

   <div id="reducirStock"></div>

         </div>



</div>
</div>
<script src="/js/ticket.js"></script>