body {

    background-image: url(https://w0.peakpx.com/wallpaper/592/194/HD-wallpaper-rain-of-stars-stars-fantasy-moon-blue.jpg) ;
    background-color: rgb(195, 213, 255);
    background-size: contain ;
    background-blend-mode: overlay;

}


.headerStyle{
    background-color: rgb(46, 84, 178);
    padding: 5px;
  }


.nav-link{
    color: aliceblue;
}
  
.titlestore{
    color: rgb(216, 237, 255);
    text-shadow: 4px 4px 6px rgb(134, 204, 255);
    font-family: "dancing script";
    font-size: 30px;
}

  /* .titlestore{
    color: rgb(42, 106, 255);
    text-shadow: 3px 3px 6px rgb(78, 193, 255);

  } */

.userconnect{
    margin: 10px;
    border-color: aqua;
}
  
  .nav-item:hover{
background-color: rgba(204, 242, 251, 0.475);
  }

  .filtrprods{
    background-color: rgb(36, 56, 105);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .filterButton{
    background-color: rgb(64, 107, 214);
    color: rgb(255, 255, 255);
  }

  .eachfilter{
    margin: 10px;
  }