.caja{
    height: 50vh;
    overflow: auto;
}

.product-card {
    width: 10%;
    margin-right: 15px;
    background-color: rgb(240, 245, 252);
    padding: 10px;
    border-radius: 7px;
}

.product-card img {
    height: 180px;
    object-fit: cover; /* Esto asegurará que las imágenes se recorten para ajustarse */
    background-color: rgb(221, 236, 255);
    padding: 5px;
    border-radius: 7px;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.product-card-text {
    font-size: 1rem; /* Tamaño de fuente para el texto */
    margin-bottom: 0.3rem; /* Reducir el margen inferior */
    justify-content: space-around;
    text-align: center;

}

.comprar{
    margin: 10px;
    align-items: center;
}
.card-title {
    font-size: 1.1rem; /* Tamaño de fuente para el título */
    text-align: center; /* Centrar el texto horizontalmente */
    margin: 0.5rem; /* Reducir el margen inferior */
    background-color: rgb(101, 171, 255);
    padding: 5px;
    text-transform: uppercase;
    border-radius: 8px;
    color: azure;
}

.cart-card{
background-color: rgb(192, 218, 255);
mask-border-width: 30px;
width: 600px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-bottom: 10px;
padding: 5px;
border-radius: 10px;
}



.cart-card img {
    width: 180px;
    height: 140px;
    object-fit: cover;
    background-color: rgb(233, 245, 251);
    padding: 6px;
    border-radius: 7px;
}


.body-card-cart{
    /* background-color: rgb(197, 175, 218); */
    display: flex;
flex-direction: column;
    justify-content: space-around;
    
}

.botones{

    display: flex;
    flex-direction: column;
        justify-content: space-around;
}

.btn-decrease{
    background-color: rgb(156, 210, 70);
}

.btn-increase{
    background-color: rgb(87, 221, 255);
}

.userConnected{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.totalPrice{
    margin: 30px;
}

.fincompra{
    margin: 30px;
}

.containerPr {
    margin: 0 auto; /* Centralizar el contenedor */
    padding: 0 15px; /* Reducir el relleno del contenedor */
  }

.footer{
    background-color: rgba(104, 167, 255, 0.256);
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}


.loginGitHub{
    background-color: rgb(105, 174, 31);
    border-color: rgb(106, 146, 57);
}

.logingit{
    background-color: rgb(127, 202, 47);
    border-color: rgb(194, 254, 120);
}

.loginlink{
    background-color: rgb(48, 179, 255);
    border-color: aqua;
    margin-right: 5px;
    margin-left: 5px;
}

.logout{
    background-color: rgb(8, 29, 73);
}

.LoginLogout{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
}

.loginbox{
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.UserConnect{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}


.mailbox{
    margin: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.mailinput{
    margin: 20px;
}

.respComprar{
    background-color: rgb(207, 225, 253);
    font-size: 20px;
    text-align: center;
    padding: 3px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}


.form-inline {
    display: flex;
    flex-wrap: nowrap;
}

.form-inline .form-group {
    margin-bottom: 0;
}

.form-inline .form-control {
    width: auto;
    margin-right: 0.5rem;
}

.form-inline .btn {
    margin-right: 0.5rem;
}

.register{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conectedUserPr{
    display: flex;
    justify-content: space-between;
}


.ticketprods{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
}

.container-ticket{
    
    padding: 20px;
    margin: 20px;
    margin-bottom: 1px;
    width: 550px;
   
}

.infoprodsticket{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px
}

.ticket{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}



  .profileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.usercart{
    display: flex;
    flex-direction: column;
}

.btnProfile:hover{
    background-color: rgba(138, 226, 255, 0.818);
    color: black;
    border-color: rgb(128, 196, 252);
    
}
.btnProfile{
    background-color: rgba(170, 204, 255, 0.459);
    color: black;
    border-color: rgb(133, 200, 255);
}

.checkUser{
    margin: 30px;
    background-color: rgba(228, 238, 247, 0.171);

}

.checkCompra{
    margin: 30px;
    background-color: rgba(228, 238, 247, 0.205);

}
.confirmPurchase{
    font-size: 20px;
}

.btntocart{

    margin: 10px;
    background-color: rgba(32, 132, 255, 0.907);
  
    border-color: rgb(42, 127, 255);
    border-width: 4px;
    color: rgb(255, 255, 255);
    font-size: 20px;

}
.editProfileFrom{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
            gap: 20px; /* Espacio entre las cajas */
}

.btneditProfile {
    width: 200px;
    background-color: rgba(107, 139, 255, 0.416);
    color: rgb(255, 255, 255);
    border-color: rgb(207, 233, 255);
}